#horizontal-scroll{
  display: flex;
  overflow: auto;
  /*white-space: nowrap;*/
   background: linear-gradient(to right, #42C4B2, #499AC5);
   background-position: center;
  color: rgba(248, 251, 251, 0.97);
  width: 100%;
}
#horizontal-scroll h2{
  font-size: 3vw;
  margin: 0 2vw;
  align-self: center;
  /*color: rgba(198, 255, 243, 0.97);*/
  font-family: "Rubik";
  font-weight: 400;
}
.person{
  display: flex;
  margin:1vw;
  /*align-self: center;*/
  /*max-width: 100vw;*/
  /*justify-content: center;*/
  flex-direction: column;
}
.person img{
  width: 7vw;
  border-radius: 1px;
}
.person .name, .person .character{
  margin: 0;
  font-size: 1vw;
  font-family: "Lato";
  font-weight: lighter;
  text-align: center;
  max-width: 40vw;
}
.person .character{
  font-size: 0.8vw;
}
@media only screen and (max-width: 1024px) {
  #horizontal-scroll h2{
    font-size: 4vw;
  }
  .person{
    margin:2vw;
  }
  .person img{
    width: 14vw;
  }
  .person .name{
    font-size: 2vw;
  }
  .person .character{
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 500px) {
  #horizontal-scroll h2{
    font-size: 7vw;
  }
  .person{
    margin: 3vw;
  }
  .person img{
    width: 20vw;
  }
  .person .name{
    font-size: 4vw;
  }
  .person .character{
    font-size: 3vw;
  }
}
